services:
  db:
    image: postgres:17
    ports:
      - "5432:5432"
    volumes:
      - ./.data/db:/var/lib/postgresql/data
    environment:
      - POSTGRES_DB=demo
      - POSTGRES_USER=demo
      - POSTGRES_PASSWORD=SecurePa55w0rd
