spring:
  jpa:
    hibernate:
      ddl-auto: validate
    database: postgresql
  datasource:
    driver-class-name: org.postgresql.Driver
    username: demo
    password: SecurePa55w0rd
    url: jdbc:postgresql://localhost:5432/demo
  security:
    user:
      name: user
      password: password
  flyway:
    enabled: true
  threads:
    virtual:
      enabled: true

